{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/intro.css') }}" rel="stylesheet">
<link href="{{ asset('css/styleMerge.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Boulangerie Maison Saint-Honoré{% endblock %}

{% block body %}


<!-- LANDING PAGE -->
{# <section id="animation">
    <div class="row">
        <img src="{{ asset('./img/landing-page/pierre.jpg') }}" alt="Pierre Ragot boulanger Maison Saint-Honoré">
        <img src="{{ asset('./img/landing-page/burger.jpg') }}" alt="Maison Saint-Honoré Burgers">
        <img src="{{ asset('./img/landing-page/vitrine.jpg') }}" alt="Maison Saint-Honoré vitrine boutique Endoume Marseille">
    </div>
    <div class="row">
        <img src="{{ asset('./img/landing-page/mains.jpg') }}" alt="Maison Saint-Honoré pétrissage">
        <img src="{{ asset('./img/landing-page/boutique.jpg') }}" alt="Maison Saint-Honoré intérieur boutique Endoume Marseille">
        <img src="{{ asset('./img/landing-page/produits.jpg') }}" alt="Maison Saint-Honoré produits">
    </div>            
</section> #}
<!-- FIN landing page -->

<!-- PAGE ACCUEIL -->

<main>
    <section id="ancre-actu" class="section-actus">
        <!-- ICI les actus -->
        <h2>Dernières actualités</h2>
    </section>


{# 

    <section id="ancre-catalogue" class="section-catalogue">
        <h2>Catalogue</h2>
        <h3>Many to one method </h3>
        <p>Affichage de tous les produits d'une même catégorie.</p>

    <section id="catalog" class="produits">
        <div class="grid">
       </div>
        </section>
    </section>

    <section id="ancre-boutiques" class="section-boutiques">
        <h2>Nos boutiques</h2>
        <p>Lorem ipsum dolor sit amet, consecetur adipisicing elit. Quod modi aperiam eligendi expedita dolorum iusto voluptas voluptate assumenda, maiores quaerat in dolores quae labore quas sequi ipsam, accusamus, eaque praesentium harum delectus. Eaque cupiditate excepturi commodi sequi sit odit! Mollitia eveniet fuga accusamus possimus. Laboriosam ducimus nulla neque, ratione eius!</p>
    </section>
 #}



 
<!--inline content pierre -->
    <div style="display: none;" id="pierrestory">
        <h2>PIERRE RAGOT</h2>
        <p>Parisien d'origine, Pierre Ragot, a ...</p>
        <section class="top">
            <div class="poloroid">
                <img id="left" src="{{ asset('./img/accueil/pierre1.JPG' )}}">
            </div>
            <p>Il fonde la Maison Saint-Honoré à Marseille en 2011 dans le quartier d'Endoume.<br> La passion du métier alliée à des matières premières de premier choix, la boulangerie s'est fait un nom auprès des marseillais, particuliers et professionnels de la restauration.</p>
        </section>

        <section>
            <p>Découvrez tout notre savoir-faire et la philosophie de notre maison ...</p>
            <div class ="poloroid">
                <img id="right" src="{{ asset('./img/accueil/pierre2.JPG' )}}">
            </div>
        </section>
    </div>



</main>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/intro.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
    <script src="{{ asset('js/thomas/javascript.js') }}"></script>
    <script src="{{ asset('js/thomas/jquery.fancybox.js') }}"></script>
{% endblock %}